 <div id="page-content-wrapper">
            <div class="container-fluid">
                
                 <div class="col-md-3"></div>
                <div class="col-md-6"><div class="panel panel-primary">
                <div class="panel-heading" ><div class="text-center">Daily Inspection</div></div>
                            <div class="panel-body">
                <!-- Page Heading -->
               
                
 
                        
                        <!--Starts Here Panels-->
                        
                         <div class="panel panel-primary">
                            <div class="panel-heading">1. Has it rained in the past 24 hours?</div>
                            <div class="panel-body"> <div class="form-group"> 
                                            <div class="col-sm-2">
                                                <label class="radio-inline">
                                                    <input name="Rained" id="input-gender-male" value="Male" type="radio" />Yes
                                                </label>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="radio-inline">
                                                    <input name="Rained" id="input-gender-female" value="Female" type="radio" />No
                                                </label>
                                            </div>
                                            <form >
                                                    Inches: <input type="text" name="Inches"><br>
                                            </form>
                                </div></div></div>
                             
                              <div class="panel panel-primary">
                            <div class="panel-heading">2. Is the plant operating today?</div>
                            <div class="panel-body">  <div class="form-group"> 
                                            <div class="col-sm-2">
                                                <label class="radio-inline">
                                                    <input name="Operating" id="input-gender-male" value="Male" type="radio" />Yes
                                                </label>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="radio-inline">
                                                    <input name="Operating" id="input-gender-female" value="Female" type="radio" />No
                                                </label>
                                            </div>
                                </div></div></div>
                                   <div class="panel panel-primary">
                            <div class="panel-heading">3. Housekeeping was performed (includes trash pick-up, trip hazards, …)</div>
                            <div class="panel-body"> <div class="form-group"> 
                                            <div class="col-sm-2">
                                                <label class="radio-inline">
                                                    <input name="House Keeping" id="input-gender-male" value="Male" type="radio" />Yes
                                                </label>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="radio-inline">
                                                    <input name="House Keeping" id="input-gender-female" value="Female" type="radio" />No
                                                </label>
                                            </div>
                                </div></div></div>
                                        <div class="panel panel-primary">
                            <div class="panel-heading">4. Oil spills and leaks are cleaned up (under 25 gallons).</div>
                            <div class="panel-body"> <div class="form-group"> 
                                            <div class="col-sm-2">
                                                <label class="radio-inline">
                                                    <input name="Oil SPills" id="input-gender-male" value="Male" type="radio" />Yes
                                                </label>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="radio-inline">
                                                    <input name="Oil SPills" id="input-gender-female" value="Female" type="radio" />No
                                                </label>
                                            </div>
                                </div></div></div>
                                             <div class="panel panel-primary">
                            <div class="panel-heading">5. Dust collectors were inspected for excess emissions.</div>
                            <div class="panel-body"> <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="Dust" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="Dust" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                </div></div></div>
                                                  <div class="panel panel-primary">
                            <div class="panel-heading">6.  Bags in the dust collectors were replaced.</div>
                            <div class="panel-body"> <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input  name="Bags in Dust" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input  name="Bags in Dust" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                </div></div></div>
                                                       <div class="panel panel-primary">
                            <div class="panel-heading">7. Check accuracy of moisture probe; calibrate if required.</div>
                            <div class="panel-body"> <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="accuracy" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="accuracy" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                </div></div></div>
                                                            <div class="panel panel-primary">
                            <div class="panel-heading">8. Inspected cement and flyash fill pipes - account for all caps, locks & keys..</div>
                            <div class="panel-body"> <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="inspected" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="inspected" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                </div></div></div>
                                                                 <div class="panel panel-primary">
                            <div class="panel-heading">9. FEL Inspection is complete.</div>
                            <div class="panel-body"> <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="FEL" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="FEL" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                </div></div></div>
                                                                      <div class="panel panel-primary">
                            <div class="panel-heading">10. Plant property was swept today (by 3rd party sweeping company).</div>
                            <div class="panel-body">  <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="plant" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="plant" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                </div></div></div>
                                                                           <div class="panel panel-primary">
                            <div class="panel-heading">11. Plant property was swept today (with in-house sweeper truck).</div>
                            <div class="panel-body"> <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="in house" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="in house" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                </div></div></div>
                                                                                <div class="panel panel-primary">
                            <div class="panel-heading">12. Plant property was washed down (using hose, truck, loader,…)..</div>
                            <div class="panel-body"> <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="truck" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="truck" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                </div></div></div>
                                                                                     <div class="panel panel-primary">
                            <div class="panel-heading">13. Aggregate stockpiles were watered.</div>
                            <div class="panel-body">  <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="immediate" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="immediate" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                </div></div></div>
                        
                     <div class="panel panel-primary">
                            <div class="panel-heading">14. Burners on the boilers were checked.</div>
                            <div class="panel-body"> <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="correction" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="correction" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                </div></div></div>
                     
                      
                  <div class="panel panel-primary">
                            <div class="panel-heading">15. Are there any conditions identified that need immediate correction?</div>
                            <div class="panel-body"> <div class="form-group"> 
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="correction" id="input-gender-male" value="Male" type="radio" />Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="radio-inline">
                                                <input name="correction" id="input-gender-female" value="Female" type="radio" />No
                                            </label>
                                        </div>
                                    </div></div>
                                                                                         </div>
                    <form>
                        <input type="submit" value="Submit">
                    </form>

                                                                                         
                                                                                         
                                                                                         
                                                                                         </div>
                                                                                    
            </div></div>

            </div></div>
                             
