<div id="wrapper">

        <!-- Sidebar -->
        
        <div id="sidebar-wrapper"> 
            <ul class="sidebar-nav">
                <li >
                    <a href="#">
                      <i class="fa fa-times"></i>
                    </a>
                </li>
                 <li >
                    <a href="#">
                        ARGOS RMX SC
                    </a>
                </li>
                <li>
                    <a href="#">Inspection</a>
                </li>       
		        <li >
                    <a href="#" class="sidebar-menu-button" data-toggle="sidebar-collapse">
				    User
			         </a>

			<!-- Submenu -->
			             <ul class="sidebar-submenu sm-condensed">
				            <li class="sidebar-menu-item">
					           <a href="#" class="sidebar-menu-button">User Group</a>
				            </li>
				            <li class="sidebar-menu-item">
					           <a href="#" class="sidebar-menu-button">User Search</a>
				            </li>
				
			             </ul>
                </li>
                
                <li >
                    <a href="#" class="sidebar-menu-button" data-toggle="sidebar-collapse">
				    Company
			         </a> 
			
			<!-- Submenu -->
			             <ul class="sidebar-submenu sm-condensed">
                             <li class="sidebar-menu-item">
                                <a href="#" class="sidebar-menu-button">Modules</a>
				            </li>
				            <li class="sidebar-menu-item">
                                <a href="#" class="sidebar-menu-button">ARGOS Videos</a>
				            </li>
				
			             </ul>
                </li>
				<li>
                    <a href="#">Maintenance</a>
                </li>
				
                <li>
                    <a href="#">Assessment Reports</a>
                </li>
               
            </ul>
        </div>
        
         <!-- Navbar-->
         <nav class="navbar navbar-inverse">
             <div id="navwrapper">
                <div class="container-fluid">
                    <div class="nav navbar-nav navbar-left">          
                        <a id="menu-toggle" href="#" class="btn btn-default btn-md toggle"><i class="fa fa-bars" aria-hidden="true"></i>Menu</a>
                    </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Inspection</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maintenance <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">User</a>
                                            </li>
                                            <li>
                                                <a href="#">Plant</a>
                                            </li>
                                            <li>
                                                <a href="#"> Region</a>
                                            </li>
                                            <li>
                                                <a href="#"> Insepction</a>
                                            </li>
                                        </ul>
                                </li>    
                                <li><a href="#">About US</a></li>
                                <li><a href="#">Jennifer</a></li>  	  
                            </ul>
                </div>
             </div>
         </nav>

    

        <!-- Page content -->
    </div>
     